target/
*.class
*.jar
*.war
*.ear

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# VS Code
.vscode/
bin/
*.code-workspace

# Logi i pliki tymczasowe
*.log
logs/
temp/
tmp/

# Docker i bazy danych
postgres-data/
compose.yaml

# Systemowe
.DS_Store
Thumbs.db

# Spring Boot
.mvn/wrapper/maven-wrapper.jar
.idea

# Java crash logs
hs_err_pid*

# Local Env Files
.env
.env.local
.env.*

# Maven
dependency-reduced-pom.xml

# Local Application Properties (for secrets)
**/application-local.properties
**/application-secret.properties
